<div>
  <section class="vertical-spacers">
    <div class="button-container">
      <span mat-subheader>{{subheader}}</span>
      <button mat-flat-button color="primary" aria-label="Add" (click)="addItem()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </section>
  <mat-grid-list cols="1" rowHeight="10:1">
    <mat-grid-tile *ngFor="let material of viewedMaterials">
      <div matLine>
        <app-material-row [material]="material"></app-material-row>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
