<!--<div>
  <section class="vertical-spacers">
    <div class="button-container">
      <span mat-subheader>{{subheader}}</span>
      <span>
        <button mat-flat-button color="primary" aria-label="Add" (click)="addItem()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-flat-button color="primary" aria-label="Add" (click)="submit()">
        <mat-icon>check</mat-icon>
      </button>
      </span>
    </div>
  </section>
  <mat-grid-list cols="1" rowHeight="10:1">
    <mat-grid-tile *ngFor="let material of viewedMaterials">
      <div matLine>
        <app-material-row (deleteMaterial)="deleteMaterial($event)" [material]="material"></app-material-row>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>-->
