<div>
  <section class="vertical-spacers">
    <div class="button-container">
      <span mat-subheader>{{subheader}}</span>
      <span>
        <button mat-flat-button color="primary" aria-label="Add" (click)="addItem()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-flat-button color="primary" aria-label="Check" (click)="submit()">
        <mat-icon>check</mat-icon>
      </button>
      </span>
    </div>
  </section>
  <div *ngFor="let item of viewedList">
    <app-generic-edit-row (deleteRow)="deleteItem($event)" [rowData]="item"></app-generic-edit-row>
  </div>
</div>
